<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://comp308.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>comp308.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Comp308</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Comp308</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SQLDbConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:comp308.database.windows.net,1433;Initial Catalog=comp308db;User ID=pranoy@comp308.database.windows.net;Password=Tarek-99" Name="Data Source=tcp:comp308.database.windows.net,1433;Initial Catalog=comp308db;User Id=pranoy@comp308.database.windows.net;Password=Tarek-99" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=HP;Initial Catalog=hd_emenu;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SQLDbConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=HP;Initial Catalog=hd_emenu;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SQLDbConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:comp308.database.windows.net,1433;Initial Catalog=comp308db;User Id=pranoy@comp308.database.windows.net;Password=Tarek-99</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>